.linha1{
    display:flex;
    justify-content: space-between;
}

.linha2{
    margin-top: 70vh;
    display: flex;
    justify-content: space-between;
}

.ec{
    background-color: red;
    height: 100px;
    width: 100px;
    justify-self: left;
}

.dc{
    background-color: yellow;
    height: 100px;
    width: 100px;
}

.eb{
    background-color: green;
    height: 100px;
    width: 100px;
}

.db{
    background-color: blue;
    height: 100px;
    width: 100px;
}